* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

#grid-container {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;
  aspect-ratio: 1/1;
}

#buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 14px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  background: rgb(167, 172, 199);
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background-color: rgb(221, 111, 197);
}