* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.container {
  display: grid;
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

#buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 14px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  background: rgb(167, 172, 199);
}

button:hover {
  background-color: rgb(221, 111, 197);
}